version: '3.8'
services:
  bot:
    build: ./
    restart: always
    volumes:
      - ./config.yml:/app/include/config.yml:ro
  db:
    image: mysql:8.0.34-debian
    command: '--default-authentication-plugin=mysql_native_password'
    volumes:
      - db_data:/var/lib/mysql
      - ./database-dump.sql:/docker-entrypoint-initdb.d/datadump.sql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

volumes:
  db_data: