const { SlashCommandBuilder } = require('@discordjs/builders');

const subcommandGroup = require('./command/subcommandGroup');

command = new SlashCommandBuilder()
                    .setName('Root Commad')
                    .setDescription('Commands')

command = subcommandGroup.builder(command)


module.exports = {
	data: command,
    async execute(interaction) {
        await interaction.reply("Command")
	},
};